###############################################################################
# Set default behavior to:
#   treat as text and
#   normalize to Unix-style line endings
###############################################################################
*           text=auto

###############################################################################
# Set explicit file behavior to:
#   treat as text and
#   normalize to Unix-style line endings
###############################################################################
# .*          text        eol=lf
# *.cmd       text        eol=lf
# *.config    text        eol=lf
# *.*ss       text        eol=lf
# *.*html     text        eol=lf
# *.*js*      text        eol=crlf
# *.md        text        eol=lf
# *.ME        text        eol=lf
# *.php       text        eol=lf
# *.sh        text        eol=lf
# *.svg       text        eol=lf
# *.yml       text        eol=lf

###############################################################################
# Set explicit file behavior to:
#   treat as text and
#   normalize to Windows-style line endings
###############################################################################
# *.sln       text        eol=crlf

###############################################################################
# Set explicit file behavior to:
#   treat as binary
###############################################################################
# *.gz        binary
# *.png       binary
# *.exe       binary
# *.zip       binary
# *.lib       binary
# *.dll       binary
# *.pdf       binary
# *.jp*       binary
# *.apk       binary
# *.mdb       binary
# *.bmp       binary
# *.dat       binary