/*
 * gpxEdit.css
 */

/* Position of the buttons */
.ol-zoom,
.ol-full-screen,
.ed-button {
  position: static;
  float: left;
  margin: 2px;
}

.ed-button-modify button::after {
  content: "\2725";
}

.ed-button-draw button::after {
  content: "\2710";
  display: inline-block;
  transform: scaleX(-1);
}

.ed-view-modify .ed-button-modify button,
.ed-view-draw .ed-button-draw button {
  background: lightblue;
}

.ed-view-draw {
  cursor: copy;
}

div:not(.ed-selected) .ed-view-modify {
  cursor: pointer;
}

/* Submenu */
.ed-button>div {
  display: none;
}

.ed-button:hover>div,
.ed-button>div:hover {
  display: initial;
}

.ed-button>div {
  position: absolute;
  top: 26px;
  max-height: calc(100% - 38px);
  max-width: calc(100% - 115px);
  overflow-y: auto;
  opacity: 0.8;
  font-size: 16px;
  background: #d1e9ff;
  z-index: 30;
}

.ed-button>div * {
  margin: 0;
}