.ol-attribution:not(.ol-collapsed) a {
  color: black !important;
}

.ol-attribution:has([href*="openmaptiles"]) li:has([href*="stadiamaps"]),
.ol-attribution:has([href*="openmaptiles"]) li:has([href*="openmaptiles"]),
.ol-attribution:has([href*="openmaptiles"]) li:has([href*="openstreetmap"]) {
  display: none;
}