/**
 * MyOpenlayers example & test styles
 */

@media (prefers-color-scheme: dark) {

  body,
  a,
  a:active {
    background: #222;
    color: white !important;
    border-color: white !important;
  }

  .ol-viewport {
    color: black;
  }

  .ol-viewport a {
    background: initial;
  }
}

/* Header */
#sample-title {
  margin: 10px;
}

.sample-inline {
  text-align: center;
}

.sample-inline span {
  display: none;
}

.sample-block a {
  display: block;
}

.sample-inline .menu-selected {
  border: solid black 1px;
}

#github,
#sample-next {
  float: right;
}

#sample-list,
.sample-wri {
  text-align: center;
}

#sample-list a {
  text-decoration: none;
}

#map {
  clear: both;
  width: 100%;
  max-width: 600px;
  height: 400px;
  margin-top: 10px;
  background: grey;
}

.layer-select {
  margin-bottom: 10px;
}