@media (prefers-color-scheme: dark) {

  body,
  a,
  a:active {
    background: #222;
    color: white !important;
    border-color: white !important;
  }

  .ol-viewport {
    color: black;
  }

  .ol-viewport a {
    background: initial;
  }
}

/* header */
#example-header {
  padding-bottom: 7px;
  border-bottom: 2px solid;
}

#example-header h1 {
  margin: 10px;
}

#example-header>a {
  float: right;
}

#example-header div {
  text-align: center;
}

#example-header div a {
  text-decoration: none;
}

#map {
  clear: both;
  width: 100%;
  max-width: 600px;
  height: 400px;
  margin-top: 10px;
}

/* Index */
#example-list a {
  display: block;
}

/* MyVectorLayer */
.layer-select {
  float: left;
  border-right: solid;
  padding: 5px;
}

.layer-select input {
  cursor: pointer;
}

.layer-select label {
  display: block;
  cursor: pointer;
}

.layer-select label:hover {
  background: lightgray;
}

/* javascript */
br,
h2 {
  clear: both;
}

pre {
  max-width: 90vw;
  margin-left: 4vw;
  overflow-x: auto;
}