.myol-button-switcher {
	float: right;
}
.myol-button-switcher > button {
	font-style: italic;
}
.myol-button-switcher > div {
	right: 0;
    overflow-y: scroll; /* Forced to avoid unexpected shifts */
}
.myol-button-switcher .myol-single-layer input,
.myol-button-switcher .myol-double-layer span {
	display: none;
}
.select-ext {
	background: #fcffd1 !important;
}