.ol-control-switcher {
	position: static;
	float: right;
}
.single-layer span {
	font-size: 0.7em;
}
.single-layer input,
.double-layer span,
.ol-control-switcher:hover button ,
.ol-control-switcher:not(:hover) > div {
	display: none;
}
.ol-control-switcher:hover {
	max-height: 100%;
	overflow: auto;
	z-index: 100;
}